.container{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  margin: 50px 0;

  @media only screen and (min-width : 1440px) {
     flex-direction: row;
  }
}

.gridContainer{
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  gap: 30px;

  @media only screen and (min-width : 1440px) {
    grid-template-columns: auto auto auto;
 }
}


